<h2>Cliente</h2>

<div ng-controller="clienteCtrl">
    <!--<form name="frmClientes" class="form-horizontal" novalidate="">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading"><h3>Cliente Cadastro</h3></div>-->
            <!--<div class="panel-body">-->
                <!--<input type="text" class="form-control has-error" placeholder="Nome completo" ng-required="true"-->
                       <!--ng-model="newCliente.nome"-->
                       <!--value="{{nome}}">-->
             <!--<span class="help-inline"-->
                   <!--ng-show="frmClientes.nome.$invalid && frmClientes.nome.$touched">Nome é obrigatório</span>-->

                <!--<input type="text" class="form-control has-error" placeholder="Email" ng-required="true"-->
                       <!--ng-model="newCliente.email" value="{{email}}">-->
            <!--<span class="help-inline"-->
                  <!--ng-show="frmClientes.email.$invalid && frmClientes.email.$touched">Informe um e-mail válido</span>-->
                <!--<button class="btn btn-primary" type="button" ng-click="addCliente()">Add Cliente</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
    <form name="frmClientes" class="form-horizontal" novalidate="">

        <div class="form-group error">
            <label for="nome" class="col-sm-3 control-label">Name</label>

            <div class="col-sm-9">
                <input type="text" class="form-control has-error" placeholder="Nome completo" ng-required="true"
                       ng-model="newCliente.nome"
                       value="{{nome}}" id="nome">
    <span class="help-inline"
          ng-show="frmClientes.nome.$invalid && frmClientes.nome.$touched">Nome é obrigatório</span>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>

            <div class="col-sm-9">
                <input type="text" class="form-control has-error" placeholder="Nome completo" ng-required="true"
                       ng-model="newCliente.email"
                       value="{{email}}" id="email">
    <span class="help-inline"
          ng-show="frmClientes.email.$invalid && frmClientes.email.$touched">Informe um e-mail válido</span>
            </div>
        </div>

        <button class="btn btn-primary" ng-disabled="frmEmployees.$invalid" type="button" ng-click="addCliente()">Add Cliente</button>
    </form>
</div>